absl-py==0.6.1
afdko==2.8.1
appnope==0.1.0
astor==0.7.1
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
booleanOperations==0.8.0
Brotli==1.0.1
certifi==2018.11.29
chardet==3.0.4
colorama==0.3.9
compreffor==0.4.6
cu2qu==1.5.0
cycler==0.10.0
Cython==0.29.2
damafontlab==0.25.2
decorator==4.2.1
defcon==0.5.3
dsign==1.2
enum34==1.1.6
fontMath==0.4.7
-e git+git@github.com:moyogo/fontparts.git@e5a4a1ebb5776804bd50c001be64f7691c71fca2#egg=fontParts
fontPens==0.1.0
-e git+git@github.com:moyogo/fonttools.git@a37dab38243d8c1e88ab83376a80942012bbab48#egg=fonttools
freetype-py==1.2.1+dama1
future-fstrings==0.4.4
futures==3.2.0
gast==0.2.0
glyphsLib==3.1.4
grpcio==1.17.1
h5py==2.9.0
idna==2.8
ipython==5.5.0
ipython-genutils==0.2.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
language-tags==0.4.6
lxml==4.2.1
Markdown==3.0.1
matplotlib==2.1.0
mock==2.0.0
-e git+git@github.com:moyogo/mutatormath.git@10318fc4e7c9cee9df6130826829baea3054a42b#egg=MutatorMath
numpy==1.15.4
pathlib2==2.3.0
pbr==5.1.1
pexpect==4.3.1
pickleshare==0.7.4
Pillow==5.0.0
prompt-toolkit==1.0.15
protobuf==3.6.1
psautohint==1.7.0
ptyprocess==0.5.2
py==1.4.34
pycairo==1.18.2
pyclipper==1.1.0
Pygments==2.2.0
pyobjc==4.1
pyobjc-core==4.1
pyobjc-framework-Accounts==4.1
pyobjc-framework-AddressBook==4.1
pyobjc-framework-AppleScriptKit==4.1
pyobjc-framework-AppleScriptObjC==4.1
pyobjc-framework-ApplicationServices==4.1
pyobjc-framework-Automator==4.1
pyobjc-framework-AVFoundation==4.1
pyobjc-framework-AVKit==4.1
pyobjc-framework-CalendarStore==4.1
pyobjc-framework-CFNetwork==4.1
pyobjc-framework-CloudKit==4.1
pyobjc-framework-Cocoa==4.1
pyobjc-framework-Collaboration==4.1
pyobjc-framework-ColorSync==4.1
pyobjc-framework-Contacts==4.1
pyobjc-framework-ContactsUI==4.1
pyobjc-framework-CoreBluetooth==4.1
pyobjc-framework-CoreData==4.1
pyobjc-framework-CoreLocation==4.1
pyobjc-framework-CoreML==4.1
pyobjc-framework-CoreServices==4.1
pyobjc-framework-CoreSpotlight==4.1
pyobjc-framework-CoreText==4.1
pyobjc-framework-CoreWLAN==4.1
pyobjc-framework-CryptoTokenKit==4.1
pyobjc-framework-DictionaryServices==4.1
pyobjc-framework-DiskArbitration==4.1
pyobjc-framework-EventKit==4.1
pyobjc-framework-ExceptionHandling==4.1
pyobjc-framework-ExternalAccessory==4.1
pyobjc-framework-FinderSync==4.1
pyobjc-framework-FSEvents==4.1
pyobjc-framework-GameCenter==4.1
pyobjc-framework-GameController==4.1
pyobjc-framework-GameKit==4.1
pyobjc-framework-GameplayKit==4.1
pyobjc-framework-ImageCaptureCore==4.1
pyobjc-framework-IMServicePlugIn==4.1
pyobjc-framework-InputMethodKit==4.1
pyobjc-framework-InstallerPlugins==4.1
pyobjc-framework-InstantMessage==4.1
pyobjc-framework-Intents==4.1
pyobjc-framework-IOSurface==4.1
pyobjc-framework-iTunesLibrary==4.1
pyobjc-framework-LatentSemanticMapping==4.1
pyobjc-framework-LaunchServices==4.1
pyobjc-framework-libdispatch==4.1
pyobjc-framework-LocalAuthentication==4.1
pyobjc-framework-MapKit==4.1
pyobjc-framework-MediaAccessibility==4.1
pyobjc-framework-MediaLibrary==4.1
pyobjc-framework-MediaPlayer==4.1
pyobjc-framework-ModelIO==4.1
pyobjc-framework-MultipeerConnectivity==4.1
pyobjc-framework-NetFS==4.1
pyobjc-framework-NetworkExtension==4.1
pyobjc-framework-NotificationCenter==4.1
pyobjc-framework-OpenDirectory==4.1
pyobjc-framework-Photos==4.1
pyobjc-framework-PhotosUI==4.1
pyobjc-framework-PreferencePanes==4.1
pyobjc-framework-PubSub==4.1
pyobjc-framework-QTKit==4.1
pyobjc-framework-Quartz==4.1
pyobjc-framework-SafariServices==4.1
pyobjc-framework-SceneKit==4.1
pyobjc-framework-ScreenSaver==4.1
pyobjc-framework-ScriptingBridge==4.1
pyobjc-framework-SearchKit==4.1
pyobjc-framework-Security==4.1
pyobjc-framework-SecurityFoundation==4.1
pyobjc-framework-SecurityInterface==4.1
pyobjc-framework-ServiceManagement==4.1
pyobjc-framework-Social==4.1
pyobjc-framework-SpriteKit==4.1
pyobjc-framework-StoreKit==4.1
pyobjc-framework-SyncServices==4.1
pyobjc-framework-SystemConfiguration==4.1
pyobjc-framework-Vision==4.1
pyobjc-framework-WebKit==4.1
pyparsing==2.2.0
pytest==3.2.2
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.13
reportlab==3.4.0
requests==2.21.0
scandir==1.6
scikit-learn==0.20.2
scipy==1.2.0
sfntly==1.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
subprocess32==3.2.7
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
tokenize-rt==2.1.0
traitlets==4.3.2
typesupply-vanilla==0.1+dama4
-e git+git@github.com:moyogo/ufo2ft.git@12354b38a985dac6517a629ab520826071d3d18d#egg=ufo2ft
ufoLib==2.3.1
ufonormalizer==0.3.5
-e git+git@github.com:moyogo/ufoProcessor.git@ebff2da1259e64e06eda41ca3f53bc7797f2539a#egg=ufoProcessor
urllib3==1.24.1
# Editable install with no version control (vanilla==0.1)
-e /Users/moyogo/Library/Python/2.7/lib/python/site-packages
virtualenv==16.2.0
vttLib==0.7.6
wcwidth==0.1.7
Werkzeug==0.14.1
zopfli==0.1.3
